@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active Navigation Link */

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* linear gradient */
linearGradient {
  background: linear-gradient(91deg, #F7F7FD 0%, rgba(255, 255, 255, 0.00) 100%);
}